---
layout: default
title:  "Utah Ruby User Group"
---
<h1>Who are you?</h1>
<p>The Utah Ruby Users Group ("URUG") is a mostly informal collection of individuals interested in the Ruby programming language.</p>

<h1>When do you meet?</h1>
<p>We have several chapters, or brigades.</p>

<h2 id="slc.rb">Salt Lake County Ruby Brigade (slc.rb)</h2>
<p>4th Tuesday of the month at 6:30 PM (3rd Tuesday when conflict /w holiday)<br>
SLCC Miller Professional Development Center (<a href="http://goo.gl/maps/BMNN3">map</a>)<br>
9750 S 300 W, 3rd Flr Room 333<br>
Sandy, UT</p>

<h2 id="downtown.rb">Downtown SLC Ruby Brigade (DRUG)</h2>
<p>1st Wednesday of the Month at 7 PM<br>
<strong>O.C. Tanner Plaza</strong>(<a href="http://goo.gl/maps/jbDBl" target="_blank">map</a>)<br>
1865 South Main Street Ste. P42<br>
Salt Lake City, UT 84115</p>

<h2 id="uv.rb">Utah Valley Ruby Brigade (uv.rb)</h2>
<p>2nd Tuesday of the month at 7 PM<br>
MoneyDesktop in Provo (<a href="http://goo.gl/maps/S5q5">map</a>)<br>
251 W River Park Dr. Ste. 200<br>
Provo, UT 84604</p>

<h2 id="layton.rb">Layton Ruby Brigade (layton.rb)</h2>
<p>3rd Tuesday of the month at 6 PM<br>
North Davis County Library (<a href="http://goo.gl/maps/a8tCM">map</a>)<br>
562 South 1000 East<br>
Clearfield, UT 84015</p>

<h2 id="logon.rb">Logan Ruby Brigade (logan.rb)</h2>
<p>2nd Tuesday of every month at lunch. The location is announced on the <a href="http://groups.google.com/group/loganrb">Logan.rb list</a>.</p>

<h2 id="stgeorge.rb">St. George Ruby Brigade (stgeorge.rb)</h2>
<p>1st Wednesday of the month at 7:00 PM<br>
University Plaza<br>
1071 East 100 South, Building C, room C5<br>
St. George, UT 84770</p>

<h1>How do I join?</h1>
<p>URUG membership incurs no dues, no fees, and no obligation. Just <a href="http://groups.google.com/forum/#!forum/urug">join the mailing list</a>, show up to the meetings periodically, and you're welcome to call yourself a member of the URUG. Its so easy to interact with other professional and hobby Rubyists in your area you'll kick yourself for not doing it sooner!</p>

{% if site.posts.size > 0 %}
<section style="posts">
  <h1>Posts!</h1>
{% for post in site.posts limit:3 %}
  <article>
    <h2><a href="{{ post.url | replace:'.html','' }}">{{ post.title }}</a></h2>
    {{ post.description | textilize }}
    <p>Posted by <a href="http://github.com/{{ post.author }}">{{ post.author }}</a> on {{ post.date | date_to_string }}.</p>
  </article>
{% endfor %}
  <p><a href="/posts">More posts!</a></p>
</section>
{% endif %}
