<!DOCTYPE html>
<html>

<head>
  <title>URUG: {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="/stylesheets/reset.css" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/urug.css" charset="utf-8">
</head>

<body>

  <header>
    <h1><a href="/">Utah Ruby User Group (URUG)</a></h1>
    <h2>In Utah? Like Ruby? This is the place.</h2>
    <p class="funny">Hah! I see what you did there!</p>
  </header>

  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="http://groups.google.com/forum/#!forum/urug">Mailing List</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/lunches">Lunches</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="http://github.com/urug">GitHub</a></li>
        <li><a href="http://urug.herokuapp.com/">Slack</a></li>
        <li><a href="/companies">Companies</a></li>
    </ul>
  </nav>

{{ content }}

  <footer>
    <p class="github"><a href="http://github.com/urug/urug.github.com">Fork me on GitHub</a></p>
  </footer>

</body>

</html>
