---
layout: default
---
<article class="post">
  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>
  {{ content }}
  <footer>
    <p>Posted by <a href="http://github.com/{{ page.author }}">{{ page.author }}</a> on {{ page.date | date_to_string }}.</p>
    <nav>
      <ul>
{% if page.previous.url %}
        <li><a href="{{page.previous.url | replace:'.html','' }}" rel="prev"> Previous &laquo; {{ page.previous.title }}</a></li>
{% endif %}
{% if page.next.url %}
        <li><a href="{{page.next.url | replace:'.html','' }}" rel="next">Next &raquo; {{ page.next.title }}</a></li>
{% endif %}
      </ul>
    </nav>
  </footer>
</article>
